<div class="container">
    <div class="row">
        <div class="col-md-2">
            <label for=""><b>Nom du membre:</b></label>
        </div>
        <div class="col-md-3"><input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for=""><b>Rôle du membre:</b></label>
        </div>
        <div class="col-md-3"><input type="text" class="form-control">
        </div>
    </div>    
    <div class="row">
        <div class="col-md-2"><label for=""><b>Période d'évaluation</b></label></div>
        <div class="col-md-4"><label for="">De: Octobre 2018 À Septembre 2019</label></div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Évaluateur iA: </b></div>
        <div class="col-md-6"><input type="text" class="form-control"></div>
        <div class="col-md-1"><b>Rôle</b></div>
        <div class="col-md-3"><input type="text" class="form-control"></div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Représenatnt de CGI: </b></div>
        <div class="col-md-6"><input type="text" class="form-control"></div>
        <div class="col-md-1"><b>Rôle</b></div>
        <div class="col-md-3"><input type="text" class="form-control"></div>
    </div>        
</div>