<table class="table">
    <thead>
        <th scope="col"><b>Évaluateur</b></th>
        <th scope="col"><b>Responsable d'entente</b></th>
        <th scope="col"><b>Membre</b></th>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" type="text"></td>
            <td><input class="form-control" type="text"></td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
            <td><b>Date : </b></td>
            <td><b>Date : </b></td>
            <td><b>Date : </b></td>
        </tr>
    </tbody>
</table>            

